// // theme
// $current-theme: dark;
// // colors
// $color-dark-bg: #3b3b41;
// $color-light-bg: #f3f3f3;
// $color-dark-border: #5250507e;
// $color-light: #a2a5b9;
// $color-dark: #1d2129;
// $color-primary: #385898;
// $color-danger: red;
// $color-success: green;
// $color-chocolate: #b98160;
// $color-vanilla: #fae8b6;
// $color-strawberry: pink;
// $color-orange: orange;
// $color-lemon: #5fd592;
// $color-tan: tan;
// font
// $font-base-size: 14px;
// $font-base-family: Helvetica;
// colors
$color-dark: #222222;
$color-semi-dark: #333333;
$color-yellow:#FFD21D;
// $color-yellow:#40CFCF;
// $color-yellow:#FF7200;
// $color-yellow:#EF526D;
$color-dark-gray:#666666;
$color-light-gray:#808080;
$color-white-dark:#e6e4e4;
// font size
$font-size-x-small: 11px;
$font-size-small: 13px;
$font-size-medium: 18px;
$font-size-large: 28px;
$font-size-x-large: 30px;
$font-size-xx-large: 35px;