@import "../../../style/abstracts/mixins";
@import "../../../style/abstracts/variables";

// shipping cart page start
.shipping_cart_page_area {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 20px;
  .cart_card_box_area {
    .title {
      @include any_title(60px);
      padding: 7px;
      border: 1px solid #eee;
      // border-bottom: 1px solid #eee;
    }
    .card_box {
      margin-top: -20px;
      .cart_card {
        display: grid;
        grid-template-columns: 3fr 4fr 2fr 2fr 1fr;
        padding: 15px;
        justify-items: center;
        align-items: center;
        border: 1px solid #eee;
        img {
          align-self: center;
          justify-self: center;
          width: 70%;
        }
        .description {
          h2 {
            font-size: 13px;
            font-weight: 600;
            line-height: 26px;
            &:hover {
              color: $color-yellow;
            }
          }
          p {
            font-size: 13px;
            font-weight: 600;
            line-height: 26px;
            span {
              font-size: 13px;
              font-weight: 400;
              line-height: 26px;
              color: #888;
            }
          }
        }
        .number_Of_items {
          border: 1px solid #eee;
          button {
            padding: 10px;
            border: none;
            margin: 0;
            background: transparent;
          }
          input {
            margin: 0;
            border: 1px solid #eee;
            width: 50px;
            padding: 10px;
          }
        }
        .total_price_of_items {
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;
        }
        button {
          background-color: transparent;
          border: none;
          i {
            font-size: 18px;
            font-weight: 600;
            line-height: 26px;
            &:hover {
              color: $color-yellow;
            }
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 600px) {
  .shipping_cart_page_area {
    grid-template-columns: 1fr;
    .cart_card_box_area {
      .title {
        @include any_title(40px);
      }
      .card_box {
        .cart_card {
          grid-template-columns: 2fr 5fr 1fr 1fr 1fr;
          grid-gap: 5px;
          img {
            width: 100%;
          }
          .description {
            h2 {
              line-height: 20px;
            }
            p {
              line-height: 20px;
              span {
                line-height: 20px;
              }
            }
          }
          .number_Of_items {
            border: 1px solid #eee;
            button {
              padding: 0 3px 0 18px;
              border: none;
              margin: 0;
              background: transparent;
              text-align: center;
            }
            input {
              margin: 0;
              width: 50px;
              padding: 5px;
            }
          }
          .total_price_of_items {
            font-size: 13px;
            font-weight: 600;
          }
          button {
            i {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

// shipping cart page end
