@import "../../../style/abstracts/mixins";
@import "../../../style/abstracts/variables";

// footer section start
.footer_section {
  // margin-top: 40px;
  .footer_main {
    background-color: $color-dark;
    padding: 60px 0;
    .footer_area {
      color: red;
      display: grid;
      grid-template-columns: 3fr 4fr 3fr;
      .left {
        display: flex;
        .icon {
          justify-self: center;
          font-size: 40px;
          color: $color-yellow;
          margin: 0 10px 0 0;
          // align-self: center;
        }
        div {
          h3 {
            font-size: 16px;
            font-weight: 500px;
            line-height: 26px;
            color: #fff;
            &:nth-child(2) {
              margin: 20px 0 10px 0;
              font-size: 20px;
              font-weight: 400px;
              line-height: 32px;
            }
            &:first-child {
              &:hover {
                color: $color-yellow;
              }
            }
          }
          p {
            font-size: 13px;
            font-weight: 400px;
            line-height: 24px;
            color: #888;
            margin: 5px 0;
          }
        }
      }
      .middle {
        display: grid;
        grid-template-columns: 3fr 3fr;
        .middle_1 {
          h2 {
            font-size: 16px;
            font-weight: 500px;
            line-height: 18px;
            color: #fff;
          }
          ul {
            li {
              list-style: none;
              margin: 8px 0;
              a {
                font-size: 13px;
                text-decoration: none;
                font-weight: 400px;
                line-height: 30px;
                color: #888;
                &:hover {
                  color: $color-yellow;
                }
              }
            }
          }
        }
      }
      .right {
        display: flex;
        .icon {
          justify-self: center;
          font-size: 40px;
          color: $color-yellow;
          margin: 0 10px 0 0;
        }
        div {
          div {
            margin: 0 0 30px 0;
            h2 {
              font-size: 16px;
              font-weight: 500px;
              line-height: 18px;
              color: #fff;
              margin: 0 0 20px 0;
            }
          }
        }
      }
    }
  }
  .bottom_footer {
    background-color: #000;
    text-align: center;
    color: #888;
    padding: 20px 0;
  }
}

@media only screen and(max-width: 600px) {
  .footer_section {
    .footer_main {
      padding: 120px 0 30px 0;
      .footer_area {
        grid-template-columns: 1fr;
        justify-items: center;
        .middle {
          padding: 30px 0;
        }
      }
    }
    .bottom_footer {
      background-color: #000;
      text-align: center;
      color: #888;
      padding: 20px 0;
    }
  }
}

// footer section end
